In [1]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = pd.read_csv('Wine_Quality_Data.csv')
data.head()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality,color
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,red
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,red
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,red
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red

In [3]:
data.columns

Index(['fixed_acidity', 'volatile_acidity', 'citric_acid', 'residual_sugar',
       'chlorides', 'free_sulfur_dioxide', 'total_sulfur_dioxide', 'density',
       'pH', 'sulphates', 'alcohol', 'quality', 'color'],
      dtype='object')

In [4]:
data.dtypes

fixed_acidity           float64
volatile_acidity        float64
citric_acid             float64
residual_sugar          float64
chlorides               float64
free_sulfur_dioxide     float64
total_sulfur_dioxide    float64
density                 float64
pH                      float64
sulphates               float64
alcohol                 float64
quality                   int64
color                    object
dtype: object

In [5]:
data.isnull().sum()

fixed_acidity           0
volatile_acidity        0
citric_acid             0
residual_sugar          0
chlorides               0
free_sulfur_dioxide     0
total_sulfur_dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
color                   0
dtype: int64

In [6]:
print(data.shape)
x = data.drop(columns=['quality','color'])
x.shape

(6497, 13)

(6497, 11)

In [7]:
# q1 First quartile
# q2 Median(2nd Quartile)
# q3 Third quartile
outliers = pd.Series([])
for i in  x.columns:
    q1=x[i].quantile(0.25)
    q3=x[i].quantile(0.75)
    IQR=q3-q1
    step=1.5*IQR
    print(x[i][((q1-step)>x[i])| (x[i]>(q3+step))].shape)
    outliers=outliers.append(pd.Series(x[i][((q1-step)>x[i])| (x[i]>(q3+step))].index))

(357,)
(377,)
(509,)
(118,)
(286,)
(62,)
(10,)
(3,)
(73,)
(191,)
(3,)

In [10]:
x.fixed_acidity.quantile(0.25)

6.4

In [199]:
outliers = pd.Series(np.zeros(x['fixed_acidity'].shape))
out=outliers.value_counts()[outliers.value_counts()>2].index
out

Float64Index([0.0], dtype='float64')

In [200]:
# q1 First quartile
# q2 Median(2nd Quartile)
# q3 Third quartile
outliers = pd.Series(np.zeros(x['fixed_acidity'].shape))
for i in  x.columns:
    q1=x[i].quantile(0.25)
    q3=x[i].quantile(0.75)
    IQR=q3-q1
    step=1.5*IQR
    #print(x[i][((q1-step)>x[i])| (x[i]>(q3+step))].shape)
    outliers=outliers.add(pd.Series(((q1-step)>x[i])| (x[i]>(q3+step))))

In [201]:
x=x.drop(axis=0,index=outliers[outliers>2].index)
x.shape

(6422, 11)

In [202]:
data1 = data.drop(axis=0,index=outliers[outliers>2].index)

In [203]:
from sklearn.cluster import KMeans
mod = KMeans(n_clusters=2,random_state=42)
mod.fit(x)
data1['pred']=mod.predict(x)

In [204]:
(data1[['color','pred']]
 .groupby(['color','pred'])
 .size()
 .to_frame()
 .rename(columns={0:'number'}))

            number
color pred
red   0       1452
      1         78
white 0       1354
      1       3538